<div class="custom_card ">
    <div class="custom_card_header">
        <h2>Infos personnelles </h2>
        <a class="btn btn-primary cursor angle-r" id="js_edit_info" title="Modifier mes infos"><i class="far fa-edit"></i></a>
    </div>
    
    <div class="customer_card_content">
        <p>Pseudo :  {{ user.username }}</p>
        <p>Email :  {{ user.email }}</p>
        <p>Nom :  {{ user.Fullname }}</p>
        <p>phone :  {{ user.phone }}</p>
        <div id="js_toggle_info_list" class="text-center">
            <i class="fas fa-angle-down"></i>
        </div>
       
        <div id="js_info_list" class="closed" >
            <p>Date de naissance :  {{  user.birthday ? user.birthday|date("d/m/Y"): "" }}</p>
            <p>Adresse : {% if user.address %} {{ user.address.street }}
             {{ user.address.postalCode }}, 
             {{ user.address.city }}, 
             {{ user.address.country }}
             {% endif %}
             </p>
        </div>
    </div>
   <div class="alert  alert-info">
    <strong>Modifier Mon </strong><a id="js_modifier_mdp"href="#" class="alert-link">mot de passe.</a>
    </div>
</div>