<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153499756-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-153499756-1');
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {% include 'adsense.html' %}
        

        <title>{% block title %}LototoR - Simulateur de loterie {% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% block metaDescription %}simulateur euromillion, lottery simulator, loto {% endblock %}">
        <meta name="author" content="Liess INOUDJAL">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('bootstrap') }}
        {#} {{ encore_entry_link_tags('agency-bootstrap') }}#}
        {{ encore_entry_link_tags('fontawesome') }}
        {% block stylesheets %}
              
        {% endblock %}
    </head> 
    <body  id="page-top">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}"> LototoR <i class="fas fa-futbol" aria-hidden="true"></i> <i class="fas fa-futbol" aria-hidden="true"></i> <i class="fas fa-futbol" aria-hidden="true"></i></a></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                 <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{path('loto_quine')}}">Lotoquine</a>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Simulateurs
                        </a>
                        <div class="dropdown-menu bg-dark ml-3" aria-labelledby="navbarDropdown">
                           <a class="nav-link" href="{{ path('simulateur',{'lotteryName': 'euromillion'}) }}">Euromillion</a>
                             <a class="nav-link" href="{{ path('simulateur',{'lotteryName': 'loto'}) }}">Loto</a>
                          <div class="dropdown-divider"></div>
                            <a class="nav-link" href="{{ path('pertinance') }}">Comment ça marche</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{path('CGU')}}">CGU</a>
                    </li>
                    
              
                </ul>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}

             
                <div class="rgbd d-none">  
                        <div class="form-group"> Lototor conserve vos données de navigation pour ses statistiques. Vos données personnelles ne sont pas conservées ou utlisées.
                        </div>
                        <div class="form-group">    
                            <button class="btn btn-success"> J'ai compris</button>
                            <a href="{{ path('CGU') }}"> plus d'info</a>
                        </div>
                </div> 
 
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('bootstrap') }}
        {% block javascripts %}
             
        {% endblock %}



    </body>
</html>
