<div class="custom_card ">
    <h2>Mon association  <span class="badge badge-primary"> {{organizer.associations|length}} </span></h2>
    <a class="btn btn-primary cursor angle-r" id="js_btn_add_association" title="Ajouter une association" 
        {# on bloque pour l'instant l'affiliation à plus d'une association  #}
        {% if organizer.associations|length > 0 %} style="display:none;"{% endif %} >
        <i class="fas fa-plus"></i>
    </a>
        
        {% for asso in organizer.associations %}
            <div class="row mb-2 customer_card_content">
            <div class="col-sm-10">
                <h4>{{ asso.name }}</h4>
                <p>{{ asso.objet }}</p>
                <p>{{ asso.address.street |lower }}<p>
                <p>{{ asso.address.postalCode ~", "~ asso.address.city }}</p>

            </div>
            <div class="col-sm-2">
                <form method="post" action="{{ path('organizer_association_delete', {'id': asso.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer l'affiliation à cette association ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asso.id) }}">
                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </form>
            </div>

            </div>
           
            
    
        {% else %}
            <li>Vous n'avez pas encore d'association</li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ path('organizer_ajax_add_association')}}" class="mt-2"id="js_form_add_association"style="display:none">
        <div class="form-group " >
            <label for="siret">Code RNA de votre association</label>
            <input class="form-control" type="text" 
                name="siret" id="siret" maxlength="10" autocomplete="off" 
                required placeholder="WXXXXXXXXX"/>
        </div>
        <button class="btn btn-primary"type="submit" name="newAssociationSubmit"  >Ajouter</button>
    </form>
</div>