{% extends 'base.html.twig' %}

{% block title %}Hello OrganizerController!{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('organizer') }}
{% endblock %}

{% block body %}
<section  class="container">
{# {{dump(organizer)}} #}
<h1>Mon compte organisateur</h1>
    <div class="row">
        <div class="col-md-6" > 
            <div class="wrapper ">
                <h2>Lotos organisés <span class="badge badge-primary"> {{organizer.LotoEvents|length}} </span> </h2>
                <a class="btn btn-primary cursor angle-r" title="Ajouter un loto"><i class="fas fa-plus"></i></a>
                <ul>
                {% for loto in organizer.LotoEvents %}
                    <li>
                        <a>{{ loto.title }}</a>
                    </li>
                {% else %}
                    <li>Vous n'avez pas encore créé de loto</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class=" col-md-6" > 
            <div class="wrapper ">
                <h2>Mes infos personnels </h2>
                <a class="btn btn-primary cursor angle-r" title="Modifier mes infos"><i class="far fa-edit"></i></a>
                <p>Pseudo :  {{ organizer.username }}</p>
                <p>Email :  {{ organizer.username }}</p>
                <p>Pseudo :  {{ organizer.username }}</p>
            </div>
            <div class="wrapper ">
                <h2>Mes associations  <span class="badge badge-primary"> {{organizer.associations|length}} </span></h2>
                <a class="btn btn-primary cursor angle-r" title="Ajouter une association"><i class="fas fa-plus"></i></a>
                 <ul>
                {% for loto in organizer.associations %}
                    <li>
                        <a>{{ associations.name }}</a>
                    </li>
                {% else %}
                    <li>Vous n'avez pas encore d'association</li>
                {% endfor %}
                </ul>
            </div>

        </div>
        
    </div>

    <div class="row">
        <div class=" col-md-6" > 
            
        </div>
        <div class="col-md-6" > 
            <div class="wrapper ">
                <h2>Lotos organisés <span class="badge badge-primary"> {{organizer.LotoEvents|length}} </span> </h2>
                <a class="btn btn-primary cursor angle-r" title="Ajouter un loto"><i class="fas fa-plus"></i></a>
                <ul>
                {% for loto in organizer.LotoEvents %}
                    <li>
                        <a>{{ loto.title }}</a>
                    </li>
                {% else %}
                    <li>Vous n'avez pas encore créé de loto</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}
