{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('organizer_account') }}
{% endblock %}
  
{% block javascripts %}
        {{ encore_entry_script_tags('organizer_account') }}
{% endblock %}

{% block body %}
<section  class="container">
{# {{dump(organizer)}} #}
<h1>Mon compte organisateur</h1>
    <div class="row">
        <div class="col-md-6">
             <div class="wrapper ">
                <h2>Mes associations  <span class="badge badge-primary"> {{organizer.associations|length}} </span></h2>
                <a class="btn btn-primary cursor angle-r" id="js_btn_add_association" title="Ajouter une association"><i class="fas fa-plus"></i></a>
                 <ul>
                    {% for loto in organizer.associations %}
                        <li>
                            <a>{{ associations.name }}</a>
                        </li>
                    {% else %}
                        <li>Vous n'avez pas encore d'association</li>
                    {% endfor %}
                </ul>
                <form method="post" action="{{ path('association_new')}}" id="js_form_add_association"style="display:none">
                    <div class="form-group " >
                        <input class="form-control" type="text" 
                            name="siret" id="siret" maxlength="14" autocomplete="off" 
                            required placeholder="Siret de l'association à lier à votre compte"/>
                    </div>
                    <input class="btn btn-primary"type="submit" name="newAssociationSubmit" value="ajouter"/>
                </form>
            </div>
        </div>
        <div class=" col-md-6" > 
            <div class="wrapper ">
                <h2>Mes infos personnels </h2>
                <a class="btn btn-primary cursor angle-r" title="Modifier mes infos"><i class="far fa-edit"></i></a>
                <p>Pseudo :  {{ organizer.username }}</p>
                <p>Email :  {{ organizer.username }}</p>
                <p>Pseudo :  {{ organizer.username }}</p>
            </div>

        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6" > 
            <div class="wrapper ">
                <h2>Lotos organisés <span class="badge badge-primary"> {{organizer.LotoEvents|length}} </span> </h2>
                {% if canOrganize %}
                    <a class="btn btn-primary cursor angle-r" title="Ajouter un loto"><i class="fas fa-plus"></i></a>
                {% endif %}
                <ul>
                {% for loto in organizer.LotoEvents %}
                    <li>
                        <a>{{ loto.title }}</a>
                    </li>
                {% else %}
                    <li>Vous n'avez pas encore créé de loto</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6" > 
            <div class="wrapper ">
                <h2>Lotos organisés <span class="badge badge-primary"> {{organizer.LotoEvents|length}} </span> </h2>
                <a class="btn btn-primary cursor angle-r" title="Ajouter un loto"><i class="fas fa-plus"></i></a>
                <ul>
                {% for loto in organizer.LotoEvents %}
                    <li>
                        <a>{{ loto.title }}</a>
                    </li>
                {% else %}
                    <li>Vous n'avez pas encore créé de loto</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
     <!-- Modal -->
        <div class="modal fade" id="modal-result" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" >
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Simulation <span></span></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
</section>

{% endblock %}
