{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   - Simulateur {{state.lotteryName}}
{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('AppComponent') }}
{% endblock %}

{% block body %}

<section class="masthead">
  <div class="container">
        <div id="wrapper">
            <div class=" jumbotron">
              {% include 'adsense-horizontale.html' %}
                <div id="root" data-state="{{stateJson}}"></div>
                <a href="{{path('homepage') }}" class="btn btn-warning">Annuler</a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-result" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" >
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle">Simulation <span></span></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
  </div>
</section>
  

{% endblock %}

{% block javascripts %}
    {{parent()}}
       {{ encore_entry_script_tags('AppComponent') }}

{% endblock %}