{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   - pertinance du simulator lototor
{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('chartjs') }}
{% endblock %}

{% block body %}
	<section class="masthead">
		<div class="container">
			<div class=" intro-text jumbotron">
				<article>
					<h1>Comment fonctionne le simulateur lototor ?</h1>
					<p >Vous etes nombreux à me demander comment lototor simule des tirages de loteries. Je vais donc vous apporter quelques precisions sur son fonctionnement et ainsi qu'à la pertinance de ses tirages aléatoires.</p>
					<p class="text-left">
						J'ai pris mon temps, ça a été long, mais j'ai testé pour vous le simulateur "Lototor - euromillion" et enregistré les données des {{countHits/5}} tirages en base de données.
					</p>
					<p class="text-left">
						L'étude se porte donc, sur le nombre de fois où les numeros de 1 à 50 sont sortis au terme de ces {{countHits/5}} tirages. 
						Pour chaque tirage, 5 nombres ont été tirés au hasard ce qui fait un echantillon de {{countHits}} nombres au total. Dans un monde idéal et parfait, un numero a 1 chance sur 50 d'etre tiré au hasard, nous devrions donc trouver que chaque numeros est sorti {{countHits }}/50 = {{countHits/50}} fois.
					</p>	
				</article>
				<article>
					<h2></h2>	
				</article>
				<canvas id="myChart" data-hits="{{hits}}" width="200" height="200"></canvas>

			</div>		
		</div>
	</section>
{% endblock %}

{% block javascripts %}
     {{ encore_entry_script_tags('chartjs') }}
{% endblock %}