
    <a href="{{path('euromillion') }}" class="btn btn-warning">Recommencer</a>
    <a href="https://www.fdj.fr/jeux-de-tirage/euromillions-my-million/" class="btn btn-success" onclick="window.open(this.href);return false">
    	Jouer sur <img width="50"src="{{asset('img/fdj-logo.svg')}}">
    </a>
    <div class="card ">
   
      <div class="card-header {{ simulationEuromillion.gagnant? "bg-success" : "bg-danger" }}  text-white ">
        <h2>{{ simulationEuromillion.gagnant? "Jackpot !" : "Perdu !"  }} </h2> 
        {% for number in simulationEuromillion.tabNums %}
            <span class="fa-stack fa-2x">
                <!-- The icon that will wrap the number -->
                <i class="fas fa-futbol fa-stack-1x text-success" aria-hidden="true"></i>
                <!-- a strong element with the custom content, in this case a number -->
                <i class="fa-stack-1x  font-weight-bold">
                    {{number}}   
                </i>
            </span> 
        {% endfor%}
        {% for number in simulationEuromillion.tabEtoiles %}
            <span class="fa-stack fa-2x">
                <!-- The icon that will wrap the number -->
                <i class="far fa-star fa-stack-1x text-success"></i>
                <!-- a strong element with the custom content, in this case a number -->
                <i class="fa-stack-1x  font-weight-bold">
                    {{number}}   
                </i>
            </span> {% endfor%}
      </div>

        <div class="card-body">
                <h2>Résultats simulation</h2>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nombre d'années jouées
                        <span class="badge badge-primary badge-pill">
                            {{ simulationEuromillion.nbAnnees }} ans
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nombre de tirages simulés
                        <span class="badge badge-primary badge-pill">
                            {{ simulationEuromillion.nbTirages|number_format(0,',',' ') }}
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Mise totale
                        <span class="badge badge-danger badge-pill">
                            {{ simulationEuromillion.miseTotale|number_format(2, ',', ' ') }} € 
                        </span>
                      </li>
                       <li class="list-group-item d-flex justify-content-between align-items-center">
                        Somme gagnées lors des tirages
                        <span class="badge badge-primary badge-pill">
                            {{ simulationEuromillion.gains|number_format(2, ',', ' ') }} €
                        </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Gains total
                      {% if simulationEuromillion.benef <=0 %}
                        <span class="badge badge-danger badge-pill">
                             {{ simulationEuromillion.benef|number_format(2, ',', ' ') }} €
                        </span>
                        {% else %}
                            <span class="badge badge-primary badge-pill">
                                {{ simulationEuromillion.benef|number_format(2, ',', ' ') }} €
                            </span>
                        {% endif %}
                      </li>
                    </ul>
                <div class="table-responsive-sm">
                    <table class="table table-striped text-center table-sm">
                    <thead>
                         <tr class="bg-dark text-white">
                            <th>Combinaisons</th>
                            <th colspan="2">Combinaisons touchée</th>
                            <th colspan="2">gains </th>
                        </tr>
                    </thead>
                    <tbody>
                   
                        {% for combinaison , historique in simulationEuromillion.historiqueDesTirages  %}
                     <tr>
                            <th>
                                {{ simulationEuromillion.euromillionCombinaison[combinaison]['icon']|raw}}
                        
                            </th>
                            <td colspan="2">{{ historique['nb_combinaison'] }} </td>
                             <td colspan="2">{{ historique['gain_totale_combinaison'] }} € </td>
                        </tr>
                    {% endfor %}
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
